<div class="city">
  <% @cities.each do |city| %>
    <%= city.city.city_name %>
  <% end %>

  <%= area_chart @cities, library: {
    type: 'radar',
    options: {
      scales:
        { r:
            { angleLines:
                { display: false },
              suggestedMin: 0,
              suggestedMax: 100
            }
        }
    }
  } %>

</div>
