<ul class="cityList">
  <% cities.each do |city| %>
    <li class="cityItem">
      <span class="emoji">🇺🇸</span>
      <h3 class="name"><%= link_to city.city_name, search_city_path(city) %></h3>
      <%= button_to '+', add_city_path(city), method: :post, class: 'deleteBtn' %>
    </li>
  <% end %>
</ul>