<div class="city">
  <%= area_chart @city_totals, library: {
    type: 'radar',
    options: {
      scales:
        { r:
            { angleLines:
                { display: false },
              suggestedMin: 0,
              suggestedMax: 100
            }
        }
    }
  } %>
</div>
