<ul class="favoriteCityList">
  <% favorite_cities.each do |favorite_city| %>
    <li class="cityItem">
      <span class="emoji">🇺🇸</span>
      <h3 class="name"><%= link_to favorite_city.city.city_name, search_city_path(favorite_city.city) %></h3>
      <%= button_to '-', remove_city_path(favorite_city.city), method: :delete, class: 'deleteBtn' %>
    </li>
  <% end %>
</ul>