<div class="sidebar">
  <a href="/"><img src="<%= asset_path('logo.png') %>" alt="CityFinder logo" class="logo"></a>
  <%= render 'shared/nav' %>
  <div class="outlet">
    <%= render 'priority_search_form' %>
  </div>
  <%= render 'shared/footer' %>
</div>