<div class= "user">
<!--  <img src="" alt= <%#= current_user.username %> />-->
  <span> <span class="emoji">🙌</span>Welcome,  <%= link_to current_user.username.capitalize, edit_user_registration_path, class: "user-edit"%></span>
  <%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "ctaLink"%>
</div>