<div class="map_div">
  <%= js_map [{
                latitude: "41.8789233",
                longitude: "-87.6398049",
                id: "map",
                width:"100%",
                height:"100vh",
                tooltips: { hover: false, html: true },
                zoom: 15,
                controls: true
              }]
  %>
</div>