<div class="map_div" id="map">
  <%= js_map search_by_name_path(format: :json),
             id: "cities-map",
             tooltips: { hover: false, html: true},
             zoom: 7,
             controls: true,
             refresh: 300
  %>
</div>