<div class="map_div">
  <%= js_map [{
                latitude: city.latitude,
                longitude: city.longitude,
                label: city.city_name,
                # tooltip: html_link_to(city),
                id: "map",
                width:"100%",
                height:"100vh",
                tooltips: { hover: false, html: true },
                zoom: 5,
                controls: true
              }]
  %>
</div>