<div class="map_div" id="map">
  <%= js_map filter_path(format: :json, city_ids: session[:filter_results_city_ids]),
             id: "cities-map",
             tooltips: { hover: false, html: true},
             zoom: 10,
             controls: true,
             refresh: 60
  %>
</div>