<div class="map_div">
  <%= js_map [{
                latitude: "41.8789233",
                longitude: "-87.6398049",
                id: "map",
                zoom: 30,
                controls: true
              }]
  %>
</div>