<div class="map_div">
  <%= js_map [{
                latitude: city.latitude,
                longitude: city.longitude,
                label: city.city_name,
              }],
             # tooltip: html_link_to(city),
             id: "map",
             tooltips: { hover: false, html: true },
             zoom: 10,
             controls: true
  %>
</div>