<div class="nav-mobile">
  <ul>
    <li>
      <a>
        <i class="fa-regular fa-map"></i>
        <div>Map</div>
      </a>
    </li>
    <li>
      <%= link_to filter_path do %>
        <i class="fa-solid fa-magnifying-glass-location"></i>
        <div>Priority Search</div>
      <% end %>
    </li>
    <li>
      <%= link_to search_by_name_path do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <div>Search by Name</div>
      <% end %>
    </li>
    <li>
      <%= link_to comparison_path do %>
        <i class="fa-solid fa-chart-area"></i>
        <div>Compare</div>
      <% end %>
    </li>
  </ul>
</div>