<div class="nav">
  <ul>
    <li>
      <%= link_to 'Search by Priority', find_city_path, class: ('active' if current_page?(city_search_path)) %>
    </li>
    <li>
      <%= link_to 'City Comparison', search_by_name_path, class: ('active' if current_page?(search_by_name_path)) %>
    </li>
  </ul>
</div>