<div class="flex-div">
  <div><%= display_stars(city) %></div>
  <p>
    <% if city.reviews_count > 0 %>
      <b><%= city.average_rating %></b> (<%= city.reviews_count %>)
    <% else %>
      Be the First Reviewer!
    <% end %>
  </p>
</div>