<div class="flex-div">
  <div id="star-rating" class="rating-group"></div>
  <p>
    <% if city.reviews_count > 0 %>
      <b><%= city.average_rating %></b> (<%= city.reviews_count %>)
    <% else %>
      Be the First Reviewer!
    <% end %>
  </p>
</div>
<script>
    function renderStars(rating) {
        const starContainer = document.getElementById('star-rating');
        starContainer.innerHTML = '';

        for (let i = 1; i <= 5; i++) {
            if (i <= rating) {
                starContainer.innerHTML += '<span class="fa fa-star checked star-icon"></span>';
            } else {
                starContainer.innerHTML += '<span class="fa fa-star star-icon"></span>';
            }
        }
    }

    const rating = <%= @the_city.average_rating %>;
    renderStars(rating);
</script>
