<div class="app">
  <div class="saved-city">
    <h1>Saved Cities</h1>
    <%= render 'shared/favorite_city_list', favorite_cities: current_user.cities %>
    <%= link_to 'Compare Cities', compare_cities_path, class: 'btn primary large' %>
  </div>
  <%= render 'shared/nav_mobile' %>
</div>