<main class="homepage">
  <%= render 'shared/static_nav' %>
  <section>
    <h1>
      Find your place,
      <br />
      based on your lifestyle.
    </h1>
    <h2>
      CityFinder that helps you discover the best neighborhood to live in, considering your priorities.<br>Never settle for less, and find the neighborhood that truly matches your lifestyle and needs.
    </h2>
    <%= link_to 'Find Your Place', find_city_path, class:'cta'%>
  </section>
</main>