<main class="homepage">
  <%= render 'shared/static_nav' %>
  <section>
    <h1>
      Discover the best <br> neighborhood to live in!
    </h1>
    <h2>
      CityFinder helps you discover the best neighborhood to live in with your priorities in mind.<br>Never settle for less, find the neighborhood that truly matches your lifestyle and needs.
    </h2>
    <%= link_to 'Find Your City', find_city_path, class:'cta'%>
  </section>
</main>