<main class="homepage">
  <%= render 'shared/static_nav' %>
  <section>
    <h1>
      Find your perfect place,
      <br />
      based on your lifestyle.
    </h1>
    <h2>
      CityFinder that helps you discover the best cities to live in, considering your lifestyle.<br>Never settle for less, and find the city that truly matches your lifestyle and needs.
    </h2>
    <%= link_to 'Find Your City', search_path, class:'cta'%>
  </section>
</main>