<main class="homepage">
  <%= render 'shared/static_nav' %>
  <section>
    <h1>
      Discover the best <br> neighborhood to live in!
    </h1>
    <h2>
      CityFinder helps you discover the best neighborhood to live in with your priorities in mind.<br>
      Never settle for less, find the neighborhood that truly matches your lifestyle and needs.
    </h2>
    <div id="review" data-controller="review-carousel">
      <div class="review-quote" data-review-carousel-target="quote">
        <div>⭐️⭐️⭐️⭐️⭐️</div>
        "CityFinder is an insightful tool that highlights growth potential in key areas,<br>
        aligning perfectly with my belief—location is key when choosing a home."
        <div class="reviewer">
          Simon<br>
          <span>Real Estate Developer</span>
        </div>
      </div>
      <div class="review-quote" data-review-carousel-target="quote">
        <div>⭐️⭐️⭐️⭐️⭐️</div>
        "CityFinder made it easy for us to quickly find a safe, family-friendly city with great schools.<br>
        The app matched our kids’ needs and grocery preferences perfectly."
        <div class="reviewer">
          Vidhi<br>
          <span>Software Developer</span>
        </div>
      </div>
      <div class="review-quote" data-review-carousel-target="quote">
        <div>⭐️⭐️⭐️⭐️⭐️</div>
        "I’ve explored potential locations with CityFinder a few times, and the variety of criteria available<br>
        to filter cities is impressive. They even consider diverse language-speaking communities!"
        <div class="reviewer">
          Elena<br>
          <span>Research Associate</span>
        </div>
      </div>
    </div>
    <div class="buttons">
      <%= link_to 'Find Your City', find_path(:filter), class: 'cta' %>
      <%= link_to 'How To Use', about_path, class: 'cta bl' %>
    </div>
  </section>
</main>
<%= render 'shared/footer' %>
