<div class="app">
  <%= render 'sidebar' %>
  <%= render 'shared/map' %>
</div>

<script>
    // Function to parse city_id from URL
    function getCityIdFromUrl() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('id');
    }

    // Function to fetch city data from the server
    async function fetchCityData(cityId) {
        const response = await fetch(`/cities/${cityId}/location`);
        if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.json();
    }

    // Function to initialize the map
    async function initMap() {
        const cityId = getCityIdFromUrl();
        if (!cityId) {
            console.error('City ID not found in the URL');
            return;
        }

        try {
            const cityData = await fetchCityData(cityId);
            const city = {
                lat: parseFloat(cityData.latitude),
                lng: parseFloat(cityData.longitude)
            };

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: city
            });

            // Use AdvancedMarkerElement instead of Marker
            const markerView = new google.maps.marker.AdvancedMarkerView({
                content: document.createElement('div')
            });
            const marker = new google.maps.marker.AdvancedMarkerElement({
                position: city,
                map: map,
                markerView: markerView
            });
        } catch (error) {
            console.error('Error fetching city data: ', error);
        }
    }

    window.initMap = initMap;
</script>
