.about {
    margin: 2.5rem;
    padding: 2.5rem 5rem;
    background-color: var(--color-dark--1);
    min-height: calc(100vh - 5rem);
}

.about section {
    width: clamp(80rem, 80%, 90rem);
    margin: 6rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}

.about p.tag-color {
    margin-bottom: 1rem;
}

.about section img {
    width: 100%;
}

.about h2 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.about p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.about section a {
    margin-top: 2rem;
}

.video {
    width: clamp(80rem, 80%, 90rem);
    margin: 6rem auto;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .about h2 {
        font-size: 2.5rem;
    }

    .about {
        padding: 0.5rem 1rem;
    }

    .about section {
        width: 90%;
        grid-template-columns: 1fr;
        border-bottom: 1px solid rgba(236, 236, 236, 0.5);
        gap: 1rem;
        padding-bottom: 2rem;
    }

    .video {
        width: 90%;
        margin: 6rem auto;
        display: flex;
        justify-content: center;
    }

    .about section:last-child {
        border-bottom: none;
    }

    .about .form {
        max-height: 100%;
    }
}