.alert {
    height: 4rem;
    width: 100%;
    background-color: var(--color-danger--0);
    color: white;
    padding: 0 4rem;
    margin-bottom: 1rem;
    opacity: 1;
    transition: opacity 0.6s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alert div {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.notice {
    height: 4rem;
    width: 100%;
    background-color: var(--color-brand--2);
    color: white;
    padding: 0 4rem;
    margin-bottom: 1rem;
    opacity: 1;
    transition: opacity 0.6s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notice div {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.closebtn {
    color: var(--color-light--2);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: var(--color-dark--1);
}

@media screen and (max-width: 800px) {
    .alert, .notice {
        padding: 0 2rem;
    }
}