.app {
    height: 100%;
    padding: 2.4rem;
    overscroll-behavior-y: none;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
}

.nav-mobile {
    display: none;
}
