.about section.error_page {
    width: 70%;
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.image img {
    width: 394px;
    height: 303.15px;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-end;
    margin-right: 2rem;
}

.message p {
    font-size: 2rem;
}

.error-report {
    margin-right: 1rem;
    font-weight: 500;
}