.form {
    background-color: var(--color-dark--2);
    height: 100%;
    width: 100%;
    max-height: 65vh;
    max-width: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 7px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.form::-webkit-scrollbar {
    width: 0;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.flag {
    position: absolute;
    right: 1rem;
    top: 2.7rem;
    font-size: 2.8rem;
}

.form.loading {
    opacity: 0.3;
}

.form.loading button {
    pointer-events: none;
    background-color: var(--color-light--1);
    border: 1px solid var(--color-light--1);
    color: var(--color-dark--0);
}

:global(.react-datepicker) {
    font-family: inherit;
    font-size: 1.2rem;
}


.select {
    background-color: var(--color-light--2);
    color: var(--color-dark--0);
    border: 1px solid var(--color-light--1);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: inherit;
    width: 100%;
    appearance: menulist-button;
}

.select option {
    background-color: var(--color-light--2);
    color: var(--color-light--1);
}


input[type="checkbox"] {
    background-color: var(--color-light--2);
    margin-right: 1em;
    font: inherit;
    font-weight: lighter;
    color: currentColor;
    width: 1.3em;
    height: 1.3em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
}

.grid div {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
}

.btn {
    color: inherit;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.primary {
    font-weight: 600;
    background-color: var(--color-brand--2);
    color: var(--color-dark--1);
    margin-right: 3rem;
}


.primary:hover {
    background-color: #409756;
    color: var(--color-light--2);
    margin-right: 3rem;
}

.back {
    font-weight: 500;
    background: none;
    border: 1px solid currentColor;
}

.position {
    font-weight: 600;
    position: absolute;
    z-index: 1000;
    font-size: 1.4rem;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-brand--2);
    color: var(--color-dark--1);
    box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}

.large {
    display: block;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}