.homepage {
    height: calc(100vh - 5rem);
    margin: 2.5rem;
    background-image: linear-gradient(
            rgba(36, 42, 46, 0.8),
            rgba(36, 42, 46, 0.8)
    ),
    url("city_thumbnail.jpg");
    background-size: cover;
    background-position: center;
    padding: 2.5rem 5rem;
}

.homepage section {
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
}

.homepage h1 {
    font-size: 4.5rem;
    line-height: 1.3;
}

.homepage h2 {
    width: 90%;
    font-size: 1.9rem;
    color: var(--color-light--1);
    /*margin-bottom: 2.5rem;*/
    font-weight: 400;
    line-height: 1.3;
}

.static-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.static-nav-mobile {
    display: none;
    z-index: 1000;
}

.static-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: transparent;
}

.static-nav a:link,
.static-nav a:visited {
    text-decoration: none;
    color: var(--color-light--2);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
}

.static-nav a.active {
    color: var(--color-brand--2);
}

/* CSS Modules feature */
.static-nav a:global(.active) {
    color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
    background-color: var(--color-brand--2);
    color: var(--color-dark--0);
    padding: 0.8rem 2rem;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
}

a.ctaLink.bl:link,
a.ctaLink.bl:visited {
    background-color: var(--color-dark--0);
    color: var(--color-light--2);
    border: 1px solid;
    border-color: var(--color-light--2);
    padding: 0.8rem 2rem;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
}

/* CSS Modules feature */
.nav a:global(.active) {
    background-color: var(--color-dark--0);
}

.homepage a.cta {
    font-weight: 600;
}

.homepage a.cta:hover {
    background-color: #409756;
    color: var(--color-light--2);
}

#review {
    position: relative;
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 3rem 0;
}

.review-quote {
    position: absolute;
    background-color: transparent;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 0.7rem;
}

.review-quote.active {
    opacity: 1;
    background-color: transparent;
}

.reviewer {
    opacity: 0.9;
    line-height: 1;
}

.reviewer span {
    font-size: 1.2rem;
    opacity: 0.7;
}

.cta.bl {
    background-color: transparent;
    color: var(--color-light--2);
    border: 1px solid var(--color-light--2);
    margin-left: 1rem;
}

.bl:hover {
    background-color: var(--color-dark--0);
    color: var(--color-light--2);
}


@media screen and (max-width: 800px) {
    #review {
        margin: 4rem 0;
        font-size: 1rem;
        width: 90%;
    }

    .cta.bl {
        margin-left: 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
    }
}