.homepage {
    height: calc(100vh - 5rem);
    margin: 2.5rem;
    background-image: linear-gradient(
            rgba(36, 42, 46, 0.8),
            rgba(36, 42, 46, 0.8)
    ),
    url("bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 2.5rem 5rem;
}

.homepage section {
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
}

.homepage h1 {
    font-size: 4.5rem;
    line-height: 1.3;
}

.homepage h2 {
    width: 90%;
    font-size: 1.9rem;
    color: var(--color-light--1);
    margin-bottom: 2.5rem;
}

.static-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.static-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: transparent;
}

.static-nav a:link,
.static-nav a:visited {
    text-decoration: none;
    color: var(--color-light--2);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
}

/* CSS Modules feature */
.static-nav a:global(.active) {
    color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
    background-color: var(--color-brand--2);
    color: var(--color-dark--0);
    padding: 0.8rem 2rem;
    border-radius: 7px;
    text-decoration: none;
}

/* CSS Modules feature */
.nav a:global(.active) {
    background-color: var(--color-dark--0);
}

