.login {
    margin: 2.5rem;
    padding: 2.5rem 5rem;
    background-color: var(--color-dark--1);
    min-height: calc(100vh - 5rem);
}

.login .form {
    background-color: var(--color-dark--2);
    border-radius: 7px;
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* Different from other form */
    margin: 8rem auto;
}

.login .form .row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login .form .row input {
    /*margin-bottom: 1.5rem;*/
}

.login .form .row .password a {
    color: var(--color-light--2);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 400;
}

.login .form .row .no-margin input {
    margin: 0;
    display: flex;
}

.login .form .row .no-margin a {
    margin-top: 1rem;
}

.login .form .row .no-margin a {
    color: var(--color-light--2);
}

.login .form .row .no-margin a:hover {
    background-color: var(--color-dark--0)
}


div.text{
    font-size: 1.5rem;
    gap: 1rem;
    font-weight: 400;
}

.hint {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-brand--2);
}


.cta {
    display: inline-block;
    background-color: var(--color-brand--2);
    color: var(--color-dark--1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 3rem;
    border-radius: 5px;
}

abbr {
    text-decoration: none;
    color: var(--color-brand--2);
}

.cancel {
    width: 100%;
}

.cancel:hover {
    width: 100%;
    background-color: var(--color-dark--1);
}

.logout-btn {
    display: inline-block;
    background-color: var(--color-brand--2);
    color: var(--color-dark--1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.login-btn-div {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    text-align: center;
}

.login .form {
    padding: 3rem 3rem;
}

.margin-top {
    margin-top: 1.5rem;
}