.tooltip a{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: var(--color-dark--2);
    font-weight: 600;
    line-height: 1.6;
    font-size: 1.3rem;
}

.tooltip a p{
    font-size: 1rem;
    font-weight: 600;
    color: #409756;
}