@media screen and (max-width: 800px) {
    body {
        font-size: 1rem;
    }

    /* Homepage nav */

    .homepage {
        overflow: hidden;
        padding: 1rem;
    }

    .homepage h1 {
        font-size: 3rem;
        line-height: 1.3;
    }

    .homepage h2 {
        width: 90%;
        font-size: 1.5rem;
        color: var(--color-light--1);
        margin-bottom: 2.5rem;
        font-weight: 400;
    }

    .static-nav {
        display: none;
    }

    .static-nav-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 2.5rem 0 2.5rem;
    }

    .static-nav-mobile img {
        width: 15rem;
        height: 100%;
    }

    .static-nav-mobile ul {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: var(--color-light--2);
        border-radius: 1rem;
        margin: 5px 0;
    }

    .hidden-menu {
        position: fixed;
        width: 0;
        height: 0;
        overflow: hidden;
        background: var(--color-dark--0);
        left: 0;
        top: -100%;
        color: var(--color-light--2);
        z-index: 100;
        transition: top 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .hidden-menu h1 {
        font-size: 3rem;
        text-align: left;
    }

    .hidden-menu ul {
        display: flex;
        flex-direction: column;
        margin: 2.5rem;
        list-style: none;
        gap: 3rem;
    }

    .hidden-menu ul li {
        margin-left: 0;
    }

    .hidden-menu ul li a {
        text-decoration: none;
        color: var(--color-light--2);
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .hidden-menu.on {
        width: 100%;
        height: 100%;
        top: 0;
    }

    body.on {
        overflow: hidden;
    }

    .close {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        color: var(--color-light--2);
        cursor: pointer;
        z-index: 101;
    }

    .hidden-menu-btn {
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    .hidden-menu a.ctaLink:link,
    .hidden-menu a.ctaLink:visited {
        width: 15rem;
    }

    .hidden-menu hr {
        opacity: 0.5;
    }

    /* user sign in, log in*/
    .form {
        width: 100%;
    }

    .login .form .grid {
        grid-template-columns: 1fr;
    }
}