    .review {
        gap: 1rem;
        margin-top: 1rem;
    }

    .review-form {
        display: flex;
        flex-direction: column;
    }

    .review-form .row {
        margin-bottom: 2rem;
    }

    .review-form .grid{
        margin-top: 1rem;
    }

    .review .row {
        margin: 0;
        gap: 0;
    }

    .buttons-sm {
        display: flex;
        justify-content: flex-end;
        gap: 0.3rem
    }

    .buttons-sm a:link {
        font-size: 1rem;
        text-decoration: none;
        background-color: var(--color-dark--1);
        border-radius: 0.4rem;
        padding: 0.2rem 0.5rem;
    }

    .buttons-sm a:hover {
        background-color: var(--color-brand--2);
        color: var(--color-dark--1);
        font-weight: 400;
    }