.sidebar {
    flex-basis: 56rem;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 3.5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /*height: calc(100vh - 4.8rem);*/
}

.logo {
    height: 5.2rem;
}

.nav {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.nav ul {
    list-style: none;
    display: flex;
    background-color: var(--color-dark--2);
    border-radius: 7px;
}

.nav a:link,
.nav a:visited {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

/* CSS Modules feature */
.active {
    background-color: var(--color-dark--0);
}


.footer {
    margin-top: auto;
}

.copyright {
    font-size: 1.2rem;
    color: var(--color-light--1);
}
