.sidebar {
    flex-basis: 56rem;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 3.5rem 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 4.8rem);
}

.logo {
    height: 5.2rem;
}

.nav {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.nav ul {
    list-style: none;
    display: flex;
    background-color: var(--color-dark--2);
    border-radius: 7px;
}

.nav a:link,
.nav a:visited {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

/* CSS Modules feature */
.active {
    background-color: var(--color-dark--0);
}


.footer {
    margin-top: auto;
}

.copyright {
    font-size: 1.2rem;
    color: var(--color-light--1);
}

.form {
    background-color: var(--color-dark--2);
    border-radius: 7px;
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.flag {
    position: absolute;
    right: 1rem;
    top: 2.7rem;
    font-size: 2.8rem;
}

.form.loading {
    opacity: 0.3;
}

.form.loading button {
    pointer-events: none;
    background-color: var(--color-light--1);
    border: 1px solid var(--color-light--1);
    color: var(--color-dark--0);
}

:global(.react-datepicker) {
    font-family: inherit;
    font-size: 1.2rem;
}


.select {
    background-color: var(--color-light--2);
    color: var(--color-dark--0);
    border: 1px solid var(--color-light--1);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: inherit;
    width: 100%;
    appearance: menulist-button;
}

.select option {
    background-color: var(--color-light--2);
    color: var(--color-light--1);
}


input[type="checkbox"] {
    background-color: var(--color-light--2);
    margin-right: 1em;
    font: inherit;
    font-weight: lighter;
    color: currentColor;
    width: 1.3em;
    height: 1.3em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.grid div {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
}

.btn {
    color: inherit;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.primary {
    font-weight: 600;
    background-color: var(--color-brand--2);
    color: var(--color-dark--1);
    margin-right: 3rem;
}

.back {
    font-weight: 500;
    background: none;
    border: 1px solid currentColor;
}

.position {
    font-weight: 600;
    position: absolute;
    z-index: 1000;
    font-size: 1.4rem;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-brand--2);
    color: var(--color-dark--1);
    box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
