.sidebar {
    flex-basis: 56rem;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 3.5rem 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 5.2rem;
}

.nav {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.nav ul {
    list-style: none;
    display: flex;
    background-color: var(--color-dark--2);
    border-radius: 7px;
}

.nav a:link,
.nav a:visited {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

/* CSS Modules feature */
.active {
    background-color: var(--color-dark--0);
}


.footer {
    margin-top: auto;
}

.copyright {
    font-size: 1.2rem;
    color: var(--color-light--1);
}

.copyright a:link, .copyright a:visited{
    text-decoration: none;
    color: var(--color-light--1);
}

.sidebar_mobile, .nav_mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .app {
        height: 80%;
        grid-template-rows: 30% 70%;
        grid-template-columns: 100%;
    }

    .mapbox {
        height: 100%;
    }

}

