/*
 *  Pure CSS star rating that works without reversing order
 *  of inputs
 *  -------------------------------------------------------
 *  NOTE: For the styling to work, there needs to be a radio
 *        input selected by default. There also needs to be a
 *        radio input before the first star, regardless of
 *        whether you offer a 'no rating' or 0 stars option
 *
 *  This codepen uses FontAwesome icons
 */

.checked {
    color: orange;
}

.star-icon {
    font-size: 2rem;
    margin-right: 0.3rem;
}


