<div class="rating_card">
  <h2>User Rating</h2>
  <div class="flex-div">
    <div>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
    <h3> 4.1 average based on 254 reviews.</h3>
  </div>
  <hr>
  <div class="row">
    <div class="flex-div">
      <div class="grid">5<span class="fa fa-star checked"></span></div>
      <div class="bar-container">
        <div class="bar bar-5"></div>
      </div>
      <div>150</div>
    </div>
  </div>
  <div class="row">
    <div class="flex-div">
      <div class="grid">4<span class="fa fa-star checked"></span></div>
      <div class="bar-container">
        <div class="bar bar-4"></div>
      </div>
      <div>150</div>
    </div>
  </div>
  <div class="row">
    <div class="flex-div">
      <div class="grid">3<span class="fa fa-star checked"></span></div>
      <div class="bar-container">
        <div class="bar bar-3"></div>
      </div>
      <div>150</div>
    </div>
  </div>
  <div class="row">
    <div class="flex-div">
      <div class="grid">2<span class="fa fa-star checked"></span></div>
      <div class="bar-container">
        <div class="bar bar-2"></div>
      </div>
      <div>150</div>
    </div>
  </div>
  <div class="row">
    <div class="flex-div">
      <div class="grid">1<span class="fa fa-star checked"></span></div>
      <div class="bar-container">
        <div class="bar bar-1"></div>
      </div>
      <div>150</div>
    </div>
  </div>
</div>
